numpy==2.3.2
pandas==2.3.1
matplotlib==3.10.5
seaborn==0.13.2

scikit-learn==1.7.1
umap-learn==0.5.9.post2

torch==2.8.0
transformers==4.55.2
sentence-transformers==5.1.0
datasets==4.0.0
accelerate==1.10.0

nltk==3.9.1
regex==2025.7.34

tqdm==4.67.1
jupyter==1.1.1